%nav
  %div{:id => 'nav_container'}
    %a{:href => '/portuguese'}portuguese
    %a{:href => '/'}home
    %a{:href => '/'}logout

%div{:id => 'content_container'}
  -if @user
    welcome,
    =@user.email