%div{:id => 'content_container'}
  %h1 Profile
  - if notice
    .notice
      - notice.each do |message|
        %li= message
  %article
    .phrasebook
      %hr
      %h2 Phrasebook
      - if @user.words.length == 0
        %p
          No saved phrases.
      - else
        %table
          %tr
            %td
              Portuguese
            %td
              English
          - @user.words.each do |word|
            %tr
              - word.translations.each do |translation|
                %td= translation.portuguese
              %td= word.english
      %br
      %hr
