---
http_interactions:
- request:
    method: get
    uri: http://glosbe.com/gapi/translate?dest=por&format=json&from=eng&phrase=how_are_you
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"ok","authors":{},"dest":"por","phrase":"how_are_you","tuc":[],"from":"eng"}'
  recorded_at: Fri, 09 May 2014 17:01:21 GMT
recorded_with: VCR 2.9.0
