%nav
  %div{:id => 'nav_container'}
    %a{:href => '/profile'}login
    %a{:href => '/'}home

%div{:id => 'content_container'}
  %h1 About language-app
  Created by: Scott Skender
  %p Tonx bitters banjo assumenda, stumptown delectus umami officia 3 wolf moon irure chillwave fixie Cosby sweater gastropub. Distillery placeat mustache hella, eiusmod slow-carb pickled Austin chillwave fingerstache. Schlitz deserunt PBR&B, slow-carb occaecat food truck exercitation bespoke hashtag. Pickled locavore bicycle rights, art party YOLO vinyl pop-up gluten-free enim hoodie you probably haven't heard of them shabby chic. Dolore cornhole Blue Bottle, McSweeney's single-origin coffee in velit keffiyeh.
  Authentic actually kogi consequat selfies, duis aliquip chillwave. Squid incididunt freegan, duis cray fingerstache laboris twee occupy cliche ethnic mixtape occaecat.