%nav
  %div{:id => 'nav_container'}
    %a{:href => '/profile'}login
    %a{:href => '/'}home

%div{:id => 'content_container'}
  %h1 About language-app
  Created by: Scott Skender
  %p Learn a new language with the help of this application. You can (eventually) choose from vocabulary, flashcards, and translation features to help you make progress.