%nav
  %div{:id => 'nav_container'}
    %a{:href => '/'}home
    %a{:href => '/portuguese'}portuguese

%div{:id => 'content_container'}
  %h1 About langua
  %p Portuguese is such a beautiful language. Langua will make the voyage of learning Portuguese a joyful experience.
  %p Created by: Scott Skender
