%div{:id => 'content_container'}
  %section{class: 'blockquote-about'}
    %div
      %hr
      %p Created by Scott Skender
      %p
        twitter:
        %a{href: 'https://twitter.com/scottskender', target: 'blank'}@scottskender
      %p
        github:
        %a{href: 'https://github.com/vandosant', target: 'blank'}vandosant

      %p
        email:
        %a{href: 'mailto:sjskender@gmail.com', target: 'blank'}sjskender@gmail.com
      %p
        website:
        %a{href: 'http://scottskender.com', target: 'blank'}scottskender.com
      %hr
