%div{:id => 'content_container'}
  - if notice
    .notice
      - notice.each do |message|
        %li= message
  .two_third
    %section{class: 'blockquote'}
      %div
        %hr
        %p
          Linha severa da longínqua costa
          %br
          Quando a nau se aproxima ergue-se a encosta
          %br
          Em árvores onde o Longe nada tinha;
          %br
          Mais perto abre-se a terra em sons e cores:
          %br
          E, no desembarcar, há aves, flores,
          %br
          Onde era só, de longe, a abstracta linha.
        %p
          "Horizonte", Fernando Pessoa
        %hr
  .one_third
    .waterdog_static
      = image_tag 'waterdog-large.png'