%nav
  %div{:id => 'nav_container'}
    %a{:href => '/about'}about
    %a{:href => '/portuguese'}portuguese

%div{:id => 'content_container'}
  =notice
  %h1 Languages
  %a{:href => '/portuguese'}portuguese
