%div{:id => 'content_container'}
  - if notice
    .notice
      - notice.each do |message|
        %li= message
  .two_third
    %section{class: 'blockquote'}
      %div
        %hr
        %p
          Não sou nada.
          %br
          Nunca serei nada.
          %br
          Não posso querer ser nada.
          %br
          À parte isso, tenho em mim todos os sonhos do mundo.
        %hr
  .one_third
    .waterdog_static
      = image_tag 'waterdog-large.png'