%nav
  %div{:id => 'nav_container'}
    %a{:href => '/'}home
    %a{:href => '/profile'}languages

%div{:id => 'content_container'}
  %h1 Portuguese
  %article
    %a{:href => '/portuguese/vocabulary'}vocabulary - learn words
    %br
    %a{:href => '/portuguese/translate'}translate - discover words