%nav
  %div{:id => 'nav_container'}
    %a{:href => '/portuguese'}portuguese
    %a{:href => '/'}home

%div{:id => 'content_container'}
  .form-container
    =form_tag('/portuguese/translate', :method => 'post') do
      .field-container
        =text_field_tag(:english, @english_word)
        =submit_tag('translate to portuguese')

    %ul
      -if @data
        -@data['tuc'].each do |thing|
          -if thing['phrase']
            %li
              =thing['phrase']['text']
            -@results = true
      -unless @results
        %li
          Sorry, no results.

%div{:class => 'resetColumnSet'}