%nav
  %div{:id => 'nav_container'}
    %a{:href => '/portuguese'}portuguese
    %a{:href => '/'}home

%div{:id => 'content_container'}
  .form-container
    =form_tag('/portuguese/translate', :method => 'post') do
      .field-container
        =text_field_tag(:english, @english_word)
        =submit_tag('translate to portuguese')

    -if @matched_data
      .results-container
        - @matched_data.each do |words|
          .result-output
            %li
              -if words.is_a?(Hash)
                %hr
                = words.keys[0].to_s
                - @results = true
                %br
                %br
                - count = 0
                - words.values[0].each do |example|
                  - break if count > 2
                  %li= example[:portuguese]
                  %br
                  %li= example[:english]
                  %br
                  %br
                  - count += 1
              - else
                %hr
                = words
    - unless @results
      .results-container
        .result-output
          %li
            Sorry, no results.

%div{:class => 'resetColumnSet'}