#content_container
  .full_column
    .categories
      - @categories.each do |category|
        %button.word_category{data: {behavior: "new-category", id: category}}
          = category
  .one_half
    .flashcard
      %div{:class => 'word', data: {container: "english-word"}}

  .one_half
    .flashcard
      %div{:class => 'word', data: {container: "portuguese-word"}}

  .resetColumnSet
    .one_half
      %button#last_button{data: {behavior: "last-word"}}
        &larr; Last
    .one_half_right
      %button#next_button{data: {behavior: "next-word"}}
        Next &rarr;

