%nav
  #nav_container
    %a{:href => '/'}home
    %a{:href => '/profile'}languages
    %a{:href => '/portuguese'}portuguese

#content_container
  .one_half
    .flashcard
      %div{:class => 'word', data: {container: "english-word"}}
        hello

  .one_half
    .flashcard
      %div{:class => 'word', data: {container: "portuguese-word"}}
        olá

  .resetColumnSet

  .full_column
    %button#next_button{data: {behavior: "next-word"}}
      Next &rarr;

:javascript
  window.words = #{JSON.generate(@words)};
