%nav
  %div{:id => 'nav_container'}
    %a{:href => '/portuguese'}portuguese
    %a{:href => '/'}home

%div{:id => 'content_container'}
  %div{:class => 'one_half'}
    %div{:class => 'flashcard'}
      %div{:class => 'word'}
        hello
  %div{:class => 'one_half'}
    %div{:class => 'flashcard'}
      %div{:class => 'word'}
        alo
  %div{:class => 'resetColumnSet'}