%nav
  #nav_container
    %a{:href => '/'}home
    %a{:href => '/profile'}languages
    %a{:href => '/portuguese'}portuguese

#content_container
  .one_half
    .flashcard
      %div{:class => 'word', data: {container: "english-word"}}

  .one_half
    .flashcard
      %div{:class => 'word', data: {container: "portuguese-word"}}

  .resetColumnSet
    .one_half
      %button#last_button{data: {behavior: "last-word"}}
        &larr; Last
    .one_half
      %button#next_button{data: {behavior: "next-word"}}
        Next &rarr;

