// button styling, background covers, etc for use elsewhere go here
// primary call button, login button, submit button, etc.

@mixin horizontal_rule {
  border: none;
  border-top: medium double #F0D399;
  color: #F0D399;
  text-align: center;
  &:after {
    content: "»";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    font-weight: 300;
    padding: 0 0.25em;
    background: #B39C82;
  }
}

@mixin category {
  background: $header_color;
  color: $text_color;
  text-align: center;
  display: inline-block;
  padding: .5em 2em;
  outline: none;
  &:hover {
    background: $nav_color;
  }
}