@import "variables";

.form-container {
  // this will only fill the width of the fields / labels
  // display: inline-block;

  margin-top: 1em;
  padding: 1em;
  background: #B39C82;
  font-size: 120%;

  .errors {
    color: $error_color;
  }

  .field-container {
    padding-bottom: 1em;
    input {
      outline-color: #B8C99D;
      height: 1.5em;
    }
    label {
      display: inline-block;
      width: 100px;
    }
    input[type=submit] {
      box-sizing: border-box;
      color: #595151;
      height: 1.5em;
      vertical-align: top;
      border: none;
    }
    .field_with_errors {
      display: inline-block;
    }
  }

  .form-actions {
    input[type=submit] {
      margin-left: 104px;
      box-sizing: border-box;
      color: #595151;
      height: 1.5em;
      vertical-align: top;
      border: none;
      outline-color: #B8C99D;
    }
  }
}