@import "variables";

.phrasebook {
  width: 90%;
  height: 100%;
  color: $text_color;
  background: #B39C82;
  padding: 3em 6em 3em 6em;
  table {
    margin: 0 auto;
    font-size: 120%;
    width: 100%;
    tr:first-child {
      font-weight: bold;
      text-align: left;
      td {
      }
    }
  }
}

.save-confirmation {
  font-size: 50%;
  display: none;
  vertical-align: middle;
}

.save-confirmation.active {
  display: inline;
}

.new_word {
  display: inline;
  padding: 0;
}