@import "mixins";
@import "variables";

.results-container {
  // this will only fill the width of the fields / labels
  // display: inline-block;

  padding: 1em;
  background: #B39C82;

  li {
    list-style-type: none;
  }

  hr {
    @include horizontal_rule;
  }

  .result-output {
    color: $text_color;
  }

  .result-output li:first-child {
    font-size: 1.5em;
    font-style: bold;
    color: $nav_color;
  }
}

.save-button {
  font-size: 50%;
  box-sizing: border-box;
  color: #595151;
  border: 1px solid $outline_color;
  outline-color: $nav_color;
  padding: .1em .3em;
  vertical-align: middle;
  &:hover {
    background-color: $nav_color;
    color: $header_color;
  }
}