@import "mixins";

.results-container {
  // this will only fill the width of the fields / labels
  // display: inline-block;

  padding: 1em;
  background: #B39C82;

  li {
    list-style-type: none;
  }

  hr {
    @include horizontal_rule;
  }

  .result-output {
    color: #595151;
  }

  .result-output li:first-child {
    font-size: 1.5em;
    font-style: bold;
    color: #BF496A;
  }
;
}