@import "variables";
@import "mixins";

//$body_color: #F0D399;
//$nav_color: #BF496A;

html {
  height: 100%;
}

body {
  background-color: $body_color;
  height: 100%;
}

#nav_container,
#content_container,
#footer_container,
.container {
  margin: auto;
  max-width: 980px;
}

#header_container {
  max-width: 980px;
  max-height: 100px;
  margin: 0 auto;
}

#body_container {
  min-height: 100%;
  position: relative;
}

nav {
  background-color: $nav_color;
  color: $text_color;
  padding: .5em 0;
  overflow: hidden;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline;
      list-style-type: none;
      a {
        text-decoration: none;
        padding-right: 2em;
      }
    }
  }
}

#navigation_links {
  float: left;
}

#authentication_links {
  float: right;
}

a {
  color: $text_color;
}

a:hover {
  color: black;
}

#content {
  background-color: $body_color;
}

main {
  .container {
    padding-bottom: 4em;
  }
}

footer {
  background-color: $nav_color;
  position: absolute;
  height: 3em;
  bottom: 0;
  width: 100%;
  padding: 0 .5em;
}

/* ----- =header ----- */

header {
  background-color: $header_color;
  #header_logo {
    display: inline-block;
    margin-right: 40%;
  }
  #waterdog_container {
    display: inline-block;
    height: 100px;
    overflow: hidden;
  }
}

/* ----- =columns ----- */

.one_half {
  width: 460px;
}

.one_half_right {
  @extend .one_half;
  text-align: right;
}

.one_third {
  width: 300px;
}

.two_third {
  width: 620px;
}

.one_fourth {
  width: 220px;
}

.three_fourth {
  width: 700px;
}

.full_column {
  width: 940px;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .full_column {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
}

.resetColumnSet {
  clear: both;
}

/* ----- =content ----- */

.flashcard {
  display: table;
  margin-top: 1em;
  width: 100%;
  background-color: $nav_color;
}

.word {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: .5em;
  font-size: 4em;
  color: $body_color;
}

#next_button {
  font-size: 110%;
  background: white;
  padding: 1em 3em;
  border: .5em solid $header_color;
  outline-color: $text_color;
}

#last_button {
  font-size: 110%;
  background: white;
  padding: 1em 3em;
  border: .5em solid $header_color;
  outline-color: $text_color;
}
.categories {
  margin-top: 2em;
  text-align: center;
  .word_category {
    @include category;
  }
}

.notice {
  li {
    list-style-type: none;
    padding: .5em 0;
  }
}

.alert {
  @extend .notice;
  color: $error_color;
}

/* ----- =animation ----- */

.waterdog_static {
  padding-top: 2em;
}

.waterdog {
  padding-top: 1em;
  -webkit-animation: bounce 5s infinite;
  -moz-animation: bounce 5s infinite;
  -o-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}
