
/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }

*/



/* ----- =structure ----- */


body {
	background-color:#F0D399;
	
}


#header_container, 
#nav_container, 
#content_container, 
#footer_container {
	margin: auto;
	width: 960px;
}

header {
	background-color: #B8C99D;
}

nav {
	background-color: #BF496A;
    color: #595151;
	overflow: hidden;
    padding: 1em;
}

nav a {
    color: #595151;
    text-decoration: none;
    padding: 1em;
}

nav a:hover {
    outline-color: black;
    color: black;
}

a {
    color: #595151;
}
a:hover {
    color: black;
}

#content {
	background-color: #F0D399;
}


footer {
	background-color: #BF496A;
}


/* ----- =columns ----- */

.one_half {
	width:460px;
}

.one_third {
	width:300px;
}

.two_third {
	width:620px;
}

.one_fourth {
	width:220px;
}

.three_fourth {
	width:700px;
}

.full_column {
	width:940px;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .full_column {
	position:relative;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	float:left;
}

.resetColumnSet {
	clear:both;
}



/* ----- =menu (Primary Nav) ----- */


#menu {
	float: right; /* or float: left */
	margin: 0 10px 0 0;	
}

#menu li {
	float: left;
	list-style: none;	
}

#menu li a {
	font-size: 120%;
	font-weight: bold;
	color: #F0D399;
	padding: 17px 25px 15px 25px;
	display: block; 
	text-decoration: none;	
}

#menu li a:hover {
	color: #fff;
	background-color: #3b2c2c;
}

/*Borders between each button */
#menu li+li { 
	border-left: 1px solid #000; 
}

/*Borders on both sides */
#menu li:first-child a {
	border-left: 1px solid #000;
}
#menu li:last-child a {
	border-right: 1px solid #000;
}

/* ----- =content ----- */

.flashcard {
    display: table;
    margin-top: 4em;
    width: 100%;
    background-color: #BF496A;
}

.word {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: .5em;
    font-size: 4em;
    color: #F0D399;
}

#card_button {
     font-size: 110%;
     background: white;
     padding: 1em 3em;
     border: .5em solid #B8C99D;
     outline-color: #595151;
 }